extends ../layouts/base.pug

block content
  h2.text-xl.font-bold Plugin Management
  form(action="/upload-plugin" method="post" enctype="multipart/form-data" class="space-y-4")
    div
      label(for="plugin" class="block text-gray-700") Upload Plugin:
      input(type="file" name="plugin" required class="mt-1 p-2 border rounded w-full")
    button(type="submit" class="bg-blue-500 text-white px-4 py-2 rounded") Upload Plugin
  h3.text-lg.font-bold.mt-6 Available Plugins
  each plugin in plugins
    div.border.p-4.mb-4
      h4.font-bold #{plugin.name}
      p #{plugin.description}
      if plugin.enabled
        button(hx-post="/deactivate-plugin" hx-vals='{"pluginName": "#{plugin.name}"}' class="bg-red-500 text-white px-4 py-2 rounded") Deactivate
      else
        button(hx-post="/activate-plugin" hx-vals='{"pluginName": "#{plugin.name}"}' class="bg-green-500 text-white px-4 py-2 rounded") Activate
